html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

#content {
  margin: 20px; }

#content .coord input:first-of-type {
  margin-right: 1%; }
#content .coord input {
  width: 49%; }

#map-view {
  width: 100%;
  height: 300px; }
